h1 {
    text-align: center;
  color: orange;
  margin-top: 100px;
font-family: Snell Roundhand, cursive;
    
}

.search {
    text-align: center;
    margin: 50px 0;
    padding: 30px;
    box-shadow: 2px 2px 12px orange;
    border-radius: 20px;

}

.search>input {
    width: 90%;
    height: 50px;
    border-radius: 20px;
    outline: 0;
    border: 2px solid rgb(148, 146, 143);
    padding: 20px;
}

.search>input:focus {
    box-shadow: 1px 1px 3px rgb(160, 160, 160);
}

.film-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* */
}

.list-item {
    width: 200px;
    transition: all 1s;
    margin-bottom: 30px;
}

.poster {
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.poster>img {
    /* height: 100%; */
    width: 100%;
}

.active-card {
    box-shadow: 0px 0px 30px orange;
    transform: scale(1.1);
    z-index: 5;
    position: absolute;
}

.rel {
    position: relative;
}

.non-active {
    box-shadow: none;
    z-index: 0;
    transform: scale(1);
    position: static;
}

.card {
    transition: 1s;
}

.modal-rel {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.my-modal {
    z-index: 6;

    position: fixed;
    bottom: 0;
    left: 0;
    max-height: 40%;
    overflow: auto;
    background-color: #fffdfd;
    width: 100%;
}

.my-modal-header {
    padding: 2px 16px;
    background-color: orange;
    color: rgb(255, 247, 247);
}

.my-modal-body {
    padding: 2px 16px;
}

.my-modal-footer {
    padding: 2px 16px;
    background-color: orange;
    color: rgb(194, 190, 190);
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

body {
    min-height: 100vh;
    padding: 0;
}
.my-preloder{ 
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1050;
        background-color: orange;
        height: 100vh;
        width: 100%;
}
body{
    background: black ;
}

nav   {
    background-color: orange;
    color: black;
} 
.b1{
   background: orange;
   color: black;
}
.li{
    color: black;
}
p{
font-family: Courier New, monospace;
color: black;
}
h5{
font-family: Snell Roundhand, cursive;
}


 

